<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @playdate.activity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @playdate.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @playdate.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @playdate.time %>
</p>

<%= link_to 'Edit', edit_playdate_path(@playdate) %> |
<%= link_to 'Back', playdates_path %>
